body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: steelblue;
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  height: 300px;
  align-self: center;
  background-image: url('./assets/space-header.png');
  background-repeat: no-repeat;
  background-size: cover;

}

.footer {
  height: 300px;
  align-self: center;
  background-image: url('./assets/space-footer.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  padding: 30px 0;
  border: 1px solid black;
  text-align: center;
}

.project-title {
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
}

.centertext {
  text-align: center;
}

.imagecenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a {
  text-decoration: none;
  color: white;
}

.header-heading {
  color: white;
  font-size: 60px
}

.footer-heading {
  color: white;
  font-size: 30px
}

.link {
  font-size: 30px
}
.link-hover:hover {
  color: skyblue;
}

.intro-text {
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-text {
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-text {
  color: white;
}

.intro-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  position: relative;
  bottom: 60px;
}

.project-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  position: relative;
  bottom: 5px;
}

.about-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  position: relative;
  bottom: 30px;
}

#content {
  min-height: calc(100vh - 300px);
}

#footer {
  height: 300px;
}

.fill {
  object-fit: fill;}

.contain {
  object-fit: contain;
}

.cover {
  object-fit: cover;
}